# ── Postgres ──────────────────────────────────────────────────────────────────
POSTGRES_USER=harfidar
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_DB=harfidar_db
POSTGRES_PORT=5432

# ── Redis ─────────────────────────────────────────────────────────────────────
REDIS_PASSWORD=change_redis_password
REDIS_PORT=6379

# ── App ───────────────────────────────────────────────────────────────────────
APP_PORT=3000
NODE_ENV=development

# ── PgAdmin (dev only) ────────────────────────────────────────────────────────
PGADMIN_EMAIL=admin@harfidar.dz
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050
